p {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
p {font: size 15px;}
video{
    display:block;
    margin: 0 auto;
    margin-top:60px;
}
p {text-align:center;
  display:block;
  margin-top:85px;
}

